{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block title %}
      <title>Puerto Aventura</title>
    {% endblock %}
  </head>
  <body>
    {% block sidebar %}
    <head>
      <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/navbars/navbar-3/assets/css/navbar-3.css">
      
      </head>
      <body>
        <!-- Header -->
      <header id="header-demo">
        <nav class="navbar navbar-expand-md bg-body-tertiary bsb-navbar-3">
          <div class="container">
            <ul class="navbar-nav">
              <li class="nav-item me-3">
              </li>
            </ul>
            <a class="navbar-brand" href="/">
              <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Puerto Aventura logo" width="105" height="15">
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#bsbNavbar" aria-controls="bsbNavbar" aria-label="Toggle Navigation">
              <i class="bi bi-three-dots"></i>
            </button>
            <div class="collapse navbar-collapse" id="bsbNavbar">
              <ul class="navbar-nav bsb-dropdown-menu-responsive ms-auto align-items-center">
                <!-- Escondo la barra de busqueda -->
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="position-relative pt-1">
                      <i class="bi bi-search"></i>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <form class="row g-1 px-3 py-2 align-items-center">
                      <div class="col-8">
                        <label class="visually-hidden" for="inputSearchNavbar">Buscar</label>
                        <input type="text" class="form-control" id="inputSearchNavbar">
                      </div>
                      <div class="col-4">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                      </div>
                    </form>
                  </div>
                </li>
                
                {% if usuario != nil %}
                <!-- Escondo los chats -->
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="position-relative pt-1">
                      <i class="bi bi-chat-left"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        0
                        <span class="visually-hidden">Chats nuevos</span>
                      </span>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <div>
                      <h6 class="dropdown-header fs-7 text-center">Mensajes nuevos</h6>
                    </div>
                    <div>
                      <hr class="dropdown-divider mb-0">
                    </div>
                    <div class="list-group list-group-flush">
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="row g-0 align-items-center">
                          <div class="col-2">
                            <img src="" class="img-fluid rounded-circle" alt="Luna John">
                          </div>
                          <div class="col-10">
                            <div class="ps-3">
                              <div class="text-dark">Luna John</div>
                              <div class="text-secondary mt-1 fs-7">Hola estoy teniendo problemas con mi cuenta.</div>
                              <div class="text-secondary mt-1 fs-7">Hace 15m</div>
                            </div>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="row g-0 align-items-center">
                          <div class="col-2">
                            <img src="" class="img-fluid rounded-circle" alt="Mark Smith">
                          </div>
                          <div class="col-10">
                            <div class="ps-3">
                              <div class="text-dark">Mark Smith</div>
                              <div class="text-secondary mt-1 fs-7">Hola, no puedo cambiar mi contraseña</div>
                              <div class="text-secondary mt-1 fs-7">Hace 23m</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <hr class="dropdown-divider mt-0">
                    </div>
                    <div>
                      <a class="dropdown-item fs-7 text-center" href="#">Ver todos los mensajes</a>
                    </div>
                  </div>
                </li>
                
                 {% if usuario.type_user  > 1 %}
                 <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/usuarios/listado/publicaciones">Intercambios pendientes</a>
                </li>
                {% if usuario.type_user == 3 %}
                 <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/usuarios/listado">Lista de usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/administracion/reportes">Lista de reportes</a>
                </li>
                {% endif %}
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="position-relative pt-1">
                      <i class="bi bi-bell"></i>
                      {% if sin_leer %}
                      <span class="p-1 bg-danger border border-light rounded-circle position-absolute top-0 start-100 translate-middle">
                        <span class="visually-hidden">Notificaciones nuevas</span>
                      </span>
                      {% endif %}
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <li>
                      <h6 class="dropdown-header fs-7 text-center">Notificaciones</h6>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    {% if notificaciones %}
                    {% for notificacion in notificaciones %}
                    <a href="/usuarios/notificaciones/leer/{{ notificacion.id }}" class="list-group-item list-group-item-action" aria-current="true">
                      <div class="row g-0 align-items-center">
                        <div class="col-10">
                          <div class="ps-3">
                            <div class="text-dark">{{ notificacion.title }}</div>
                            <div class="text-secondary mt-1 fs-7">{{ notificacion.content }}</div>
                            <div class="text-secondary mt-1 fs-7" id="notification-time-{{ forloop.counter0 }}" data-created-at="{{ notificacion.date|date:"Y-m-dTH:i:s" }}"></div>
                          </div>
                        </div>
                        {% if notificacion.read == False %}
                        <div class="col-2 text-center">
                          <span class="p-1 rounded-circle bg-primary position-absolute top-20 translate-middle" style="font-size: 50px;">
                        </div>
                        {% endif %}
                      </div>
                    </a>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    {% endfor %}
                    <li><a class="dropdown-item fs-7 text-center" href="/usuarios/notificaciones">Ver todas las notificaciones</a></li>
                    {% else %}
                      <h6 class="dropdown-header fs-7 text-center">No tenés ninguna notificación.</h6>
                    {% endif %}
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/publicaciones/registrarPublicacion" role="button">
                    <span class="position-relative pt-1">
                      <i class="bi bi-plus" style="font-size: 30px;"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item dropdown"> 
                  <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ usuario.avatar.url }}" width="35" height="35" class="img-fluid rounded-circle" alt="Icono usuario">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <li>
                      <h6 class="dropdown-header fs-7 text-center">Bienvenido, {{ usuario.name }}</h6>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a href="#" class="dropdown-item" aria-current="true">
                        <div class="row g-0 align-items-center">
                          <div class="col-3">
                            <img src="{{ usuario.avatar.url }}" width="55" height="55" class="img-fluid rounded-circle" alt="Luke Reeves">
                          </div>
                          <div class="col-9">
                            <div class="ps-3">
                              <div class="text-secondary mt-1 fs-7">Cuenta</div>
                              <div class="text-secondary mt-1 fs-7">{{ usuario.email }}</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="/usuarios/perfil">
                        <span>
                          <i class="bi bi-person-fill me-2"></i>
                          <span class="fs-7">Mi perfil</span>
                        </span>
                      </a>
                    </li>
                    {% if usuario.type_user  > 0 %}
                    <li>
                      <a class="dropdown-item" href="/usuarios/ofertasRecibidas">
                        <span>
                          <i class="bi bi-map-fill me-2"></i>
                          <span class="fs-7">Ofertas recibidas</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/usuarios/publicaciones">
                        <span>
                          <i class="bi bi-map-fill me-2"></i>
                          <span class="fs-7">Mis publicaciones</span>
                        </span>
                      </a>
                    </li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="/usuarios/publicacionesGuardadas">
                        <span>
                          <i class="bi bi-map-fill me-2"></i>
                          <span class="fs-7">Mis publicaciones guardadas</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/usuarios/ofertasRealizadas">
                        <span>
                          <i class="bi bi-map-fill me-2"></i>
                          <span class="fs-7">Ofertas realizadas</span>
                        </span>
                      </a>
                    </li>
                    
                    <!-- Escondo configuracion y centro de ayuda -->
                    
                    <li>
                      <a class="dropdown-item" href="#!">
                        <span>
                          <i class="bi bi-bell-fill me-2"></i>
                          <span class="fs-7">Notificaciones</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#!">
                        <span>
                          <i class="bi bi-gear-fill me-2"></i>
                          <span class="fs-7">Configuración</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#!">
                        <span>
                          <i class="bi bi-question-circle-fill me-2"></i>
                          <span class="fs-7">Centro de ayuda</span>
                        </span>
                      </a>
                    </li>
                    
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item text-center" href="/autenticacion/cerrarSesion" name = "cerrar_sesion">
                        <span>
                          <span class="fs-7">Cerrar sesión</span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                {% else %}
                <div class="col-5">
                    <a href="/autenticacion/registro" class=" nav-link active">Registrarse</a>
                </div>
                <div class="col-6">
                    <a href="/autenticacion/inicioSesion" class="nav-link active">Iniciar sesion</a>
                </div>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
      </body>
        {% if messages %}
          {% for m in messages %}
            {% if m.tags == "success" %}
              <script>
                Swal.fire({
                  title: "Operacion realizada",
                  text: "{{m}}",
                  icon: "success",
                  iconColor: "#d297b1",
                  confirmButtonColor:"#01c5ce"
                });
              </script>
            {% else %}
              <script>
                Swal.fire({
                  title: "Operacion inválida",
                  text: "{{m}}",
                  icon: "error",
                  iconColor: "#cde7f6",
                  confirmButtonColor: "#778FD2"
                });
              </script>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% endblock %}
        {% block content %}
          <!-- default content text (typically empty) -->
        {% endblock %}
    </body>
    <script>
      function getElapsedTime(createdAt) {
          const now = new Date();
          const notificationTime = new Date(createdAt);
          const elapsedTime = now - notificationTime;
  
          const seconds = Math.floor(elapsedTime / 1000);
          const minutes = Math.floor(seconds / 60);
          const hours = Math.floor(minutes / 60);
          const days = Math.floor(hours / 24);
  
          let timeString = '';
          if (days == 1) {
              timeString = `${days} día`;
          } else if (days > 0) {
              timeString = `${days} días`;
          } else if (hours == 1) {
              timeString = `${hours} hora`;
          } else if (hours > 0) {
              timeString = `${hours} horas`;
          } else if (minutes == 1) {
              timeString = `${minutes} minuto`;
          } else if (minutes > 0) {
              timeString = `${minutes} minutos`;
          } else {
              timeString = `${seconds} segundos`;
          }
  
          return `Hace ${timeString}`;
      }
  
      function updateNotificationTimes() {
          document.querySelectorAll('[id^="notification-time-"]').forEach(el => {
              const createdAt = el.getAttribute('data-created-at');
              el.textContent = getElapsedTime(createdAt);
          });
      }
  
      // Actualizar el tiempo transcurrido cada segundo
      setInterval(updateNotificationTimes, 1000);
  
      // Inicializar el tiempo transcurrido
      updateNotificationTimes();
  </script>
</html>