{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<div class="container-fluid d-flex justify-content-between">
<h4 class="title text-dark">Publicaciones disponibles</h4>
<a href="/publicaciones/?state=0">Ver todas las publicaciones</a>
</div>
{% if available_posts %}
    <div class="container-fluid d-flex">
        {% for post in available_posts %}
            <div class="col-4">
                <div class="card" style="width: 29rem">
                    <a href="/publicaciones/{{ post.id }}">
                        <img class="card-img-top" height="250" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <hr>
                        <h6 class="card-subtitle">Valor: ${{ post.value }}</h6>
                        <p class="card-text">Tipo de embarcación: {{ post.ship_type }}</p>
                        <p class="card-text">Puerto: {{ post.port.name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger">No hay publicaciones disponibles</div> 
{% endif %}
{% if finalized_posts %}
<div class="container-fluid d-flex justify-content-between">
  <h4 class="title text-dark">Publicaciones finalizadas</h4>
  <a href="/publicaciones/?state=2">Ver todas las publicaciones</a>
  </div>
      <div class="container-fluid d-flex">
          {% for post in finalized_posts %}
              <div class="col-4">
                  <div class="card" style="width: 29rem">
                      <a href="/publicaciones/{{ post.id }}">
                          <img class="card-img-top" height="250" src="{{ post.image.url }}" alt="{{ post.title }}">
                      </a>
                      <div class="card-body">
                          <h5 class="card-title">{{ post.title }}</h5>
                          <hr>
                          <h6 class="card-subtitle">Valor: ${{ post.value }}</h6>
                          <p class="card-text">Tipo de embarcación: {{ post.ship_type }}</p>
                          <p class="card-text">Puerto: {{ post.port.name }}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
{% endif %}
{% endblock %}
