{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>

      .aceptar-button {
          background-color: green; /* Color de fondo */
          color: white; /* Color del texto */
          border: none; /* Sin borde */
          padding: 10px 20px; /* Espaciado interno */
          font-size: 16px; /* Tamaño de la fuente */
          font-weight: bold; /* Texto en negrita */
          border-radius: 25px; /* Esquinas redondeadas */
          cursor: pointer; /* Cambiar cursor al pasar el mouse */
          flex: 1; /* Para que los botones tengan el mismo tamaño */
          text-align: center; /* Centrar el texto */
      }

      .rechazar-button {
                  background-color: red; /* Color de fondo */
                  color: white; /* Color del texto */
                  border: none; /* Sin borde */
                  padding: 10px 20px; /* Espaciado interno */
                  font-size: 16px; /* Tamaño de la fuente */
                  font-weight: bold; /* Texto en negrita */
                  border-radius: 25px; /* Esquinas redondeadas */
                  width: 100%; /* Ancho completo */
                  cursor: pointer; /* Cambiar cursor al pasar el mouse */
      }

      .button-container {
          display: flex; /* Para alinear los botones en una fila */
          gap: 10px; /* Espacio entre los botones */
          margin-top: 10px; /* Espacio superior para separar los botones del contenido anterior */
      }

    .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
    }

    .icon-hover:hover i {
  color: #3b71ca !important;
    }
</style>
{% if offer %}
<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="image">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ offer.image.url }}" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                {{ offer.title }}
            </h4>
  
            <p>
                Una breve descripción
            </p>
  
            <div class="row">
              <dt class="col-3">Descripcion:</dt>
              <dd class="col-9">{{ offer.description }}</dd>

              <dt class="col-3">Propietario:</dt>
              <dd class="col-9">{{ offer.post.user.name }} {{ offer.post.user.surname }}</dd>

              <dt class="col-3">Estado:</dt>
              {% if offer.answer == 0 %}
                <dd class="col-9">Sin respuesta</dd>
              {% elif offer.answer == 1 %}
                <dd class="col-9">Rechazada</dd>
              {% else %}
                <dd class="col-9">Aceptada</dd>
              {% endif %}

              {% if offer.answer == 0 %}
              <div class="button-container">
                  <a href="#" onclick="confirmarEstadoOferta({{ offer.id }}, 1)" data-post-id="{{ post.id }}" data-csrf-token='{% csrf_token %}'><button type="button" class="aceptar-button">Aceptar oferta</button></a>
                  <a href="#" onclick="confirmarEstadoOferta({{ offer.id }}, 2)" data-post-id="{{ post.id }}" data-csrf-token='{% csrf_token %}'><button type="button" class="rechazar-button">Rechazar oferta</button></a>
              </div>
              {% endif %}

            </div>
        </main>
      </div>
    </div>
  </section>
{% elif image %}
<ul>
    <li><img src="{{ image.url }}" alt="Imagen"></li>
</ul>
{% endif %}

{% block js %}

<script>
    function confirmarEstadoOferta(id, respuesta){
    Swal.fire({
        title: "¿Estas seguro?",
        text: "Esta accion no se puede deshacer",
        icon: "question",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Aceptar",
        reverseButtons: true,
        confirmButtonColor: "#cde7f6"
    })
    .then(function(result){
        if(result.isConfirmed && respuesta == 1){
        window.location.href = "/usuarios/ofertasRecibidas/aceptarOferta/" + id;
    }
       else{
            if(result.isConfirmed && respuesta == 2){
            window.location.href = "/usuarios/ofertasRecibidas/rechazarOferta/" + id;
       }
    }
    })


}
</script>

{% endblock %}


{% endblock %}
