{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>
    .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
    }

    .icon-hover:hover i {
  color: #3b71ca !important;
    }
</style>
{% if offer %}
<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="image">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ offer.image.url }}" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                {{ offer.title }}
            </h4>
  
            <p>
                Una breve descripción
            </p>
  
            <div class="row">
              <dt class="col-3">Descripcion:</dt>
              <dd class="col-9">{{ offer.description }}</dd>

              <dt class="col-3">Propietario:</dt>
              <dd class="col-9">{{ offer.post.user.name }} {{ offer.post.user.surname }}</dd>

              <dt class="col-3">Estado:</dt>
              {% if offer.answer == 0 %}
                <dd class="col-9">Sin respuesta</dd>
              {% elif offer.answer == 1 %}
                <dd class="col-9">Rechazada</dd>
              {% else %}
                <dd class="col-9">Aceptada</dd>
              {% endif %}
            </div>
        </main>
      </div>
    </div>
  </section>
{% elif image %}
<ul>
    <li><img src="{{ image.url }}" alt="Imagen"></li>
</ul>
{% endif %}

{% endblock %}
