{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>
  .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }

  .icon-hover:hover i {
    color: #3b71ca !important;
  }

</style>
{% if post %}
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="image">
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
              src="{{ post.image.url }}" />
          </a>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ post.title }}
          </h4>
          <div class="d-flex flex-row my-3">
            {% if post.state == 0 %}
              <span class="text-success ms-2">Disponible</span>
            {% elif post.state == 1 %}
              <span class="text-warning ms-2">Pendiente</span>
            {% else %}
              <span class="text-danger ms-2">Finalizada</span>
            {% endif %}
          </div>

          <div class="mb-3">
            <span class="text-muted">Valor: </span>
            <span class="h5">${{ post.value }}</span>
          </div>

          <p>
            Una breve descripción
          </p>

          <div class="row">
            <dt class="col-3">Tipo:</dt>
            <dd class="col-9">{{ post.ship_type }}</dd>

            <dt class="col-3">Eslora:</dt>
            <dd class="col-9">{{ post.eslora }}</dd>

            <dt class="col-3">Modelo:</dt>
            <dd class="col-9">{{ post.model }}</dd>

            <dt class="col-3">Puerto:</dt>
            <dd class="col-9">{{ post.port.name }}</dd>

            <dt class="col-3">Propietario:</dt>
            <dd class="col-9">{{ post.user.name }} {{ post.user.surname }}</dd>
          </div>

          <hr />

          <a href="#" class="btn btn-primary shadow-0" onclick="copyToClipboard()"> <i
              class="me-1 fa fa-shopping-basket"></i> Compartir </a>
          {% if usuario %}
          {% if saved == True %}
          <a href="guardar" class="btn btn-dark border border-secondary py-2 icon-hover px-3"> <i
              class="me-1 fa fa-heart fa-lg"></i> Guardada </a>
          {% else %}
          <a href="guardar" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i
              class="me-1 fa fa-heart fa-lg"></i> Guardar </a>
          
          {% endif %}
            {% if post.user.email != usuario.email and post.state == 0 %}
                <a href="registrarOferta" class="btn btn-warning shadow-0"> Ofertar </a>
            {% endif %}
          {% else %}
            <a href="registrarOferta" class="btn btn-warning shadow-0"> Ofertar </a>
          {% endif %}
        </div>
        <div id="copyAlert" class="alert alert-success" role="alert" style="display: none;">
          Enlace copiado al portapapeles.
        </div>
      </main>
    </div>
  </div>
  <div>
    <section style="background-color: #eee;">
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
              <div class="card-body p-4">
                <h4 class="text-center mb-4 pb-2">Comentarios</h4>
                {% for comment in post.get_comments %}
                <div class="row">
                  <div class="col">
                    <div class="d-flex flex-start"  id="comentario{{ comment.id }}">
                    <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.user.avatar.url }}" alt="avatar"
                      width="60" height="60" />
                      <div class="flex-grow-1 flex-shrink-1" >
                        <div>
                          <div class="d-flex justify-content-between align-items-center">
                            <h6 class="fw-bold text-primary mb-1">{{comment.user.name}}</h6>
                            <p class="text-muted small mb-0"> - {{comment.date}} </p>
                          </div>
                            <p class="small mb-0" id="comment-content-{{ comment.id }}">
                              {{comment.content}}
                            </p>
                        </div>
                        {% if comment.user_id == usuario.email and not comment.answer%}
                        <div id="edit-form-{{ comment.id }}" class="edit-form" style="display: none; ">
                          {% include 'partials/_comment_edit_form.html' with comment=comment.id %}
                        </div>
                        <div class="float-end mt-2 pt-1">
                            <button id="edit-button-{{ comment.id }}" class="btn btn-outline-warning " onclick="showEditFormComment({{ comment.id }}, this)">Editar comentario</button>
                            <form action="eliminarComentario/{{ comment.id }}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <button id="delete-button-{{ comment.id }}" type="submit" class="btn btn-outline-danger" >Eliminar comentario</button>
                            </form>
                        </div>
                        {%endif%}
                        {% if post.user.email == usuario.email %}
                          <div style="display: flex;justify-content: flex-end; gap: 10px;">
                            {% if not comment.answer%}
                              <button id="reply-button-{{ comment.id }} " onclick="showReplyForm({{ comment.id }}, this)"
                                class="btn btn-success ">Responder comentario</button>
                            {%endif%}
                          </div>
                          <div id="reply-form-{{ comment.id }}" class="reply-form" style="display: none;">
                            {% include 'partials/_comment_reply_form.html' with comment=comment.id %}
                          </div>
                        {% endif %}
                        {% if comment.answer %}
                          <div class="d-flex flex-start mt-4">
                              <img class="rounded-circle shadow-1-strong p-2" src="{{ usuario.avatar.url }}" alt="avatar"
                                width="65" height="65" />
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="fw-bold text-primary mb-1">{{comment.answer.user.name }}</h6>
                                    <p class="text-muted small mb-0">- {{comment.answer.date}} </p>
                                </div>
                                <p class="small mb-0" id="answer-content-{{ comment.answer.id }}">
                                  {{comment.answer.content}}
                                </p>
                              </div>
                            </div>
                          </div>
                          {% if post.user.email == usuario.email %}
                          <div id="edit-form-{{ comment.answer.id}}" class="edit-form" style="display: none;">
                            {% include 'partials/_comment_edit_form.html' with comment=comment.answer.id  avatar=usuario.avatar.url %}
                          </div>
                          <div style="display: flex;justify-content: flex-end; gap: 10px;">
                            <button id="edit-button-{{ comment.answer.id }}" class="btn btn-outline-warning" onclick="showEditFormAnswer({{ comment.answer.id }}, this)">Editar comentario</button>
                            <form action="eliminarComentario/{{ comment.answer.id  }}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <button id="delete-button-{{ comment.answer.id  }}" type="submit" class="btn btn-outline-danger" >Eliminar comentario</button>
                            </form>
                          </div>
                          {%endif%}
                        {% endif %}
                        <br />
                      </div>
                    </div>
                      {% endfor %}
                      {% if post.user.email != usuario.email  %}
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                          <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3" src="{{ usuario.avatar.url }}" alt="avatar"
                              width="40" height="40" />
                            <div data-mdb-input-init class="form-outline w-100">
                              <form method="POST" action='comentario'>
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-row mb-2">
                                  {{ field }}
                                </div>
                                {% endfor %}
                                <div style="display: flex;justify-content: flex-end; gap: 10px;">
                                  <button type="submit" class="btn btn-success btn-lg">Comentar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% elif image %}
<ul>
  <li><img src="{{ image.url }}" alt="Imagen"></li>
</ul>
{% endif %}

<script>

  function copyToClipboard() {
    // Crear un campo de texto temporal
    var tempInput = document.createElement('input');
    tempInput.value = window.location.href;
    document.body.appendChild(tempInput);
    // Seleccionar el contenido del campo de texto
    tempInput.select();
    // Copiar el texto seleccionado al portapapeles
    document.execCommand("copy");
    // Remover el campo de texto temporal
    document.body.removeChild(tempInput);
    var copyAlert = document.getElementById("copyAlert");
    copyAlert.style.display = "block";
    // Ocultar la alerta después de 3 segundos
    setTimeout(function () {
      copyAlert.style.display = "none";
    }, 3000);
  }

  function showReplyForm(id, button) {
    var form = document.getElementById('reply-form-' + id);
    if (form.style.display === 'none') {
      form.style.display = 'block';
      button.style.display = 'none'
    } else {
      form.style.display = 'none';
      button.style.display = 'block';
    }
  }

  function showEditFormComment(id, button) {
    var form = document.getElementById('edit-form-' + id);
    var content = document.getElementById('comment-content-' + id);
    var deleteButton = document.getElementById('delete-button-' + id);
    hideShow(form,content,button,deleteButton);
  }

  function showEditFormAnswer(id, button) {
    var form = document.getElementById('edit-form-' + id);
    var content = document.getElementById('answer-content-' + id);
    var deleteButton = document.getElementById('delete-button-' + id);
    hideShow(form,content,button,deleteButton);
  }

  function hideShow(form,content,button,deleteButton){
    if (form.style.display === 'none') {
      form.style.display = 'block';
      button.style.display = 'none'
      deleteButton.style.display = 'none'
      content.style.display = 'none'
    } else {
      form.style.display = 'none';
      button.style.display = 'block';
      deleteButton.style.display = 'block'
      content.style.display = 'none'
    }
  }

</script>
{% endblock %}