{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>
    ul{
        list-style: none outside;
        padding: 0;
        margin: 0;
    }

    ul li{
        padding: 5px 0px;
        margin: 20px 0px;
        list-style: none;
    }

    ul li::before{
        content: ' ';
	    display: table;
    }

    ul li img{
        float: right;
        margin-left: 4px;
        width: 70px;
        height: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>
{% if post %}

<div class="post-container">
    <ul>
        <li class="post-text">{{ post.title }}</li>
        <li><a href="image"><img src="{{ post.image.url }}" alt="Imagen de la publicación"></a></li>
        <li class="post-text">Valor: {{ post.value }}</li>
        <li class="user-info">Nombre del dueño: {{ post.user.name }}</li>
        <li class="user-info">Email del dueño: {{ post.user.email }}</li>
        <li class="user-info">Teléfono del dueño: {{ post.user.phone_number }}</li>
        <li class="post-text">Tipo de embarcación: {{ post.ship_type }}</li>
        <li class="post-text">Modelo: {{ post.model }}</li>
        <li class="post-text">Puerto: {{ post.port.name }}</li>
    </ul>
</div>
{% elif image %}
<ul>
    <li><img src="{{ image.url }}" alt="Imagen"></li>
</ul>
{% endif %}
{% endblock %}
