{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #93d2f0; /* Fondo celeste */
    }

    .offer-button {
        background-color: #EDC5AB;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 25px;
        width: 100%;
        cursor: pointer;
    }

    .button-container {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .card {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: white; /* Fondo blanco para las tarjetas */
        max-width: 18rem; /* Máximo ancho de la tarjeta */
    }

    .card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .card-subtitle {
        font-size: 16px;
        color: #666;
        margin-bottom: 10px;
    }

    .user-info {
        font-size: 14px;
        color: #777;
        margin-bottom: 5px;
    }

    .card-text {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centrar las tarjetas */
        margin-left: -10px;
        margin-right: -10px;
    }

    .col-4 {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center; /* Centrar el contenido de la columna */
    }

    .alert {
        margin-top: 20px;
        padding: 15px;
        border-radius: 8px;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
    }

    h2 {
        text-align: center; /* Centrar el texto del encabezado */
        background-color: #f9f9f9;
        padding: 10px;
        margin: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .container-fluid {
        padding: 20px; /* Añadir algo de espacio interno al contenedor */
    }

    .form-container {
        background-color: #f9f9f9; /* Fondo blanco o cremita */
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        height: 350px;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        {% if state == None %}
            <h2>Todas las Publicaciones</h2>
        {% elif state == "0" %}
            <h2>Publicaciones Disponibles</h2>
        {% elif state == "2" %}
            <h2>Publicaciones Finalizadas</h2>
        {% endif %}
    </div>
    <div class="row content-container">
        <div class="col-lg-3 form-container">
            <form action="{% url 'publicaciones:ver_publicaciones' %}" method="GET" id="">
                {% if state %}
                <input type="hidden" name="state" value="{{ state }}" />
                {% endif %}
                {% if palabra %}
                <input type="hidden" name="palabra" value="{{ palabra }}">
                {% endif %}
                <div class="dropdown mb-3">
                    <select class="form-select" id="tipo-embarcacion" name="tipo-embarcacion">
                        <option value="">Tipo de embarcación</option>
                        {% for t in tipos %} 
                        <option value="{{ t }}" {% if tipo == t %} selected=true {% endif %}>{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="dropdown mb-3">
                    <select class="form-select" id="valor" name="valor">
                        <option value="">Valor</option>
                        <option value="99" {% if valor == "99" %} selected=true {% endif %}>Menor a $1.000.000</option>
                        <option value="1000001" {% if valor == "1000001" %} selected=true {% endif %}>$1.000.000 - $10.000.000</option>
                        <option value="10000001" {% if valor == "10000001" %} selected=true {% endif %}>Mayor a $10.000.000</option>
                    </select>
                </div>
                <div class="dropdown mb-3">
                    <select class="form-select" id="puerto" name="puerto">
                        <option value="">Puerto</option>
                        {% for p in puertos %}
                        <option value="{{ p.name }}" {% if puerto == p.name %} selected=true {% endif %}>{{ p.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="dropdown mb-3">
                    <select class="form-select" id="tamano-eslora" name="tamano-eslora">
                        <option value="">Tamaño de eslora</option>
                        <option value="4" {% if eslora == "4" %} selected=true {% endif %}>Menor a 5 metros</option>
                        <option value="10" {% if eslora == "10" %} selected=true {% endif %}>Entre 6 y 15 metros</option>
                        <option value="15" {% if eslora == "15" %} selected=true {% endif %}>Más de 15 metros</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
        <div class="col-lg-9">
            {% if posts %}
                <div class="row">
                    {% for post in posts %}
                        <div class="col-4 mb-4">
                            <div class="card">
                                <a href="{{ post.id }}">
                                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">Valor: {{ post.value }}</p>
                                    <p class="card-text">Tipo de embarcación: {{ post.ship_type }}</p>
                                    <p class="card-text">Puerto: {{ post.port.name }}</p>
                                    <a href="#" class="btn btn-primary">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">No hay publicaciones disponibles</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
