{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>
  .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }

  .icon-hover:hover i {
    color: #3b71ca !important;
  }
</style>
{% if post %}
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="image">
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
              src="{{ post.image.url }}" />
          </a>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ post.title }}
          </h4>
          <div class="d-flex flex-row my-3">
            <span class="text-success ms-2">Disponible</span>
          </div>

          <div class="mb-3">
            <span class="text-muted">Valor: </span>
            <span class="h5">${{ post.value }}</span>
          </div>

          <p>
            Una breve descripción
          </p>

          <div class="row">
            <dt class="col-3">Tipo:</dt>
            <dd class="col-9">{{ post.ship_type }}</dd>

            <dt class="col-3">Eslora:</dt>
            <dd class="col-9">{{ post.eslora }}</dd>

            <dt class="col-3">Modelo:</dt>
            <dd class="col-9">{{ post.model }}</dd>

            <dt class="col-3">Puerto:</dt>
            <dd class="col-9">{{ post.port.name }}</dd>

            <dt class="col-3">Propietario:</dt>
            <dd class="col-9">{{ post.user.name }} {{ post.user.surname }}</dd>
          </div>

          <hr />

          <a href="#" class="btn btn-primary shadow-0" onclick="copyToClipboard()"> <i
              class="me-1 fa fa-shopping-basket"></i> Compartir </a>
          {% if usuario %}
          {% if saved == True %}
          <a href="guardar" class="btn btn-dark border border-secondary py-2 icon-hover px-3"> <i
              class="me-1 fa fa-heart fa-lg"></i> Guardada </a>
          {% else %}
          <a href="guardar" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i
              class="me-1 fa fa-heart fa-lg"></i> Guardar </a>
          {% endif %}
          <!-- Comento el botón de ofertar 
              <a href="#" class="btn btn-warning shadow-0"> Ofertar </a>
              -->
          {% endif %}
        </div>
        <div id="copyAlert" class="alert alert-success" role="alert" style="display: none;">
          Enlace copiado al portapapeles.
        </div>
      </main>
    </div>
  </div>
  <div>
    <section style="background-color: #eee;">
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
              <div class="card-body">
                {% if not post.comments.all %}
                No hay comentarios <a href='#'>Realizar comentario</a>
                {% else %}
                {% for comment in post.comments.all %}
                <div class="d-flex flex-start align-items-center">
                  <img class="rounded-circle shadow-1-strong me-3" src="{{ usuario.3 }}" alt="avatar"
                    width="60" height="60" />
                  <div>
                    <h6 class="fw-bold text-primary mb-1">{{comment.user.name }}</h6>
                    <p class="text-muted small mb-0">- {{comment.date}} </p>
                  </div>
                </div>
                <p class="small mb-0">
                  {{comment.content}}
                </p>
                <div class="small d-flex justify-content-start">
                  <a href="#!" class="d-flex align-items-center me-3">
                    <i class="far fa-comment-dots me-2"></i>
                    <p class="mb-0">Comentar</p>
                  </a>
                </div>
                <br />
                {% endfor %}
              </div>
              <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                <div class="d-flex flex-start w-100">
                  <img class="rounded-circle shadow-1-strong me-3" src="{{ usuario.3 }}" alt="avatar"
                    width="40" height="40" />
                  <div data-mdb-input-init class="form-outline w-100" >
                    <form method="POST" action='comentario' >
                      {% csrf_token %}
                      {% for field in form %}
                      <div class="form-row mb-2">
                        {{ field }}
                      </div>
                      {% endfor %} 
                      <button type="submit" class="btn btn-success btn-lg">Comentar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</section>
{% elif image %}
<ul>
  <li><img src="{{ image.url }}" alt="Imagen"></li>
</ul>
{% endif %}

<script>
  function copyToClipboard() {
    // Crear un campo de texto temporal
    var tempInput = document.createElement('input');
    tempInput.value = window.location.href;
    document.body.appendChild(tempInput);
    // Seleccionar el contenido del campo de texto
    tempInput.select();
    // Copiar el texto seleccionado al portapapeles
    document.execCommand("copy");
    // Remover el campo de texto temporal
    document.body.removeChild(tempInput);
    var copyAlert = document.getElementById("copyAlert");
    copyAlert.style.display = "block";
    // Ocultar la alerta después de 3 segundos
    setTimeout(function () {
      copyAlert.style.display = "none";
    }, 3000);
  }
</script>
{% endblock %}