{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<style>
    .display{
        display: flex;
        justify-content: center;
    }
    
    .scroll-bar{
      height: 50vh;
      overflow-y: auto;
      scroll-behavior: smooth;
    }

    .container1 {
        display: flex;
        align-items: center; /* Centra verticalmente */
        justify-content: center; /* Centra horizontalmente */
    }

.contenedor {
  border-radius: 5px;
  padding: 7px;
  margin: 7px 0;
}

.darker {
  border-color: #b9deb2;
  background-color: #d9fdd3;
}

.contenedor::after {
  content: "";
  clear: both;
  display: table;
}

.contenedor img.avatar {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.contenedor img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
.contenedor img.imagen{
  max-width: 70%; 
  max-height: 40vh; 
  margin-left: 100px;
}

.contenedor a{
  max-width: 70%; 
  max-height: 40vh; 
  margin-left: 80px;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>

<div class="bg-light py-3 py-md-5">
  <div class="container1">
    <div class="col-15 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
      <div class="row">
        {% if conversacion.recipient.email == username %}
          <h2 style="float: left;">Chat con {{ conversacion.sender }}</h2>
        {% else %}
          <h2 style="float: left;">Chat con {{ conversacion.recipient }}</h2>
        {% endif %}
        <form action="/usuarios/motivoReporte/" method="post">
          {% csrf_token %}
          <input type="hidden" name="url" id="id_url">
          <input type="hidden" value="Offer" name="content_type">
          <input type="hidden" value="{{offer.id}}" name="id">
          <button type="submit" class="btn btn-outline-danger btn-sm" style="float: right;">Reportar</button>
        </form>
      </div>
      <div class="scroll-bar" id="scroll-bar">
        <div id="display">
          <!-- <div class="container darker">
            <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
            <span class="time-left">20th, April 2021</span>
          </div> -->

        </div>
      </div>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  var cantidadMensajesAntes = 0;
setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/conversaciones/conseguir_mensajes/{{conversacion.id}}/",
        success: function(response){
            console.log(response);
            var cantidadMensajesDespues = response.messages.length;

            $("#display").empty();
            for (var key in response.messages)
            {
                var sender = response.messages[key].sender;
                var avatar = response.messages[key].avatar;
                if (response.messages[key].image){
                  var temp="<div class='container contenedor darker' id='mensaje"+response.messages[key].id+
                  "'><img src='"+avatar+"';width='35' height='35' class='img-fluid rounded-circle avatar' alt='Icono usuario'><b>"+sender
                  +"</b><div class'col-2''><p>"+response.messages[key].content
                    +"</p><img class='rounded-4 fit imagen' src='/media/"+response.messages[key].image+
                    "'; alt='Imagen perdida'></div><span class='time-right' id='notification-time-{{ forloop.counter0 }}' data-created-at='"+response.messages[key].sent_at+"'></span></div>";
                }else if (response.messages[key].file) {
                  var temp="<div class='container contenedor darker' id='mensaje"+response.messages[key].id+"'><img src='"+avatar+"';width='35' height='35' class='img-fluid rounded-circle avatar' alt='Icono usuario'><b>"+sender
                  +"</b><p>"+response.messages[key].content
                    +"</p><a href='/conversaciones/descargar/"+response.messages[key].id+"'><i class='bi bi-file-text'></i>"+response.messages[key].nombre_archivo+"</a><span class='time-right' id='notification-time-{{ forloop.counter0 }}' data-created-at='"+response.messages[key].sent_at+"'></span></div>";
                }else{
                  var temp="<div class='container contenedor darker' id='mensaje"+response.messages[key].id+"'><img src='"+avatar+"';width='35' height='35' class='img-fluid rounded-circle avatar' alt='Icono usuario'><b>"+sender
                  +"</b><p>"+response.messages[key].content
                    +"</p><span class='time-right' id='notification-time-{{ forloop.counter0 }}' data-created-at='"+response.messages[key].sent_at+"'></span></div>";
                }
                $("#display").append(temp);
            }
            updateNotificationTimes();
            if (cantidadMensajesDespues > cantidadMensajesAntes) {
              const elemento = document.getElementById("scroll-bar");
              const alturaScroll = elemento.scrollHeight;
              elemento.scrollTop = alturaScroll;
            }

            cantidadMensajesAntes = cantidadMensajesDespues;
        },
        error: function(response){
            alert('Ocurrió un error')
        }
    });
},1000);
})
</script>


<div class="container contenedor">
    <style>
    
    input[type=file]{
      display: none;
    }

    .custom-file-upload {
      width: 7%;
      background-color: #12c97d;
      color: white;
      padding: 14px 20px;
      margin: 8px 4px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .custom-file-upload:hover {
      background-color: #12b370;
    }

    [id='preview-container']{
      display: none;
    }

    [id='preview-container-file']{
      display: none;
    }

    .preview{
      max-width: 55%; 
      max-height: 250px; 
      margin-left: 70px;
      border-radius: 20px;
    }

    .cancelar-preview {
      height: 20px;
      width: 20px;
      background-color: #9da2a853;
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cancelar-preview:hover{
      background-color: #9da2a8c7;
    }

    input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    button[type=submit][id='enviar']{
    width: 10%;
    background-color: #3c7dce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    }

    button[type=submit][id='enviar']:hover {
    background-color: #45a049;
    }
    </style>
    <div id="preview-container">
      <img class="preview" id="preview" src="" alt="Vista previa de la imagen"/>
      <button class="cancelar-preview" id="cancelar-preview" onclick="borrarPreview()"><i class="bi bi-x" style="font-size:10px;"></i></button>
    </div>
    <div id="preview-container-file">
      <i class='bi bi-file-text'></i>
      <p id="preview-file"></p>
      <button class="cancelar-preview" id="cancelar-preview-file" onclick="borrarPreviewArchivo()"><i class="bi bi-x" style="font-size:10px;"></i></button>
    </div>
    <form id="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="{{username}}"/>
        <input type="hidden" name="room_id" id="room_id" value="{{conversacion.id}}"/>
        <div class="row">
          <input type="text" name="message" id="message" width="20px" autocomplete="off">
          <label for="archivo" class="custom-file-upload">
            <i class="bi bi-file-text"></i>
          </label>
          <input type="file" id="archivo" name="archivo" accept=".pdf, .epub, .doc, .docx, .xlsx, .odt, .ods, .odp, .txt, .rtf, .pptx">
          <label for="imagen" class="custom-file-upload">
            <i class="bi bi-image"></i>
          </label>
          <input type="file" id="imagen" name="imagen" accept=".jpg, .jpeg, .png, .gif">
          <button type="submit" id="enviar"><i class="bi bi-send"></i></button>
        </div>
    </form>
</div>
</div>
</div>
  </div>
<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    var formData = new FormData();
    
    // Agregar los datos del formulario al FormData
    formData.append('username', $('#username').val());
    formData.append('room_id', $('#room_id').val());
    formData.append('message', $('#message').val());
    var imagen = $('#imagen')[0].files[0];
    if (imagen) {
      formData.append('imagen', imagen);
    }
    var archivo = $('#archivo')[0].files[0];
    if (archivo) {
      formData.append('archivo', archivo);
    }
    formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());

    $.ajax({
      type:'POST',
      url:'/conversaciones/enviar',
      data:formData,
      processData: false,
      contentType: false,
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
    document.getElementById('imagen').value = ''
    document.getElementById('preview-container').style.display = 'none';
    document.getElementById('preview-container-file').style.display = 'none';
    document.getElementById('archivo').value = ''
  });
  document.getElementById('imagen').addEventListener('change', function() {
        var file = this.files[0];
        if (file) {
            document.getElementById('preview-container-file').style.display = 'none';
            document.getElementById('archivo').value = ''
            var reader = new FileReader();
            reader.onload = function(e) {
                var preview = document.getElementById('preview');
                preview.src = e.target.result;
                document.getElementById('preview-container').style.display = 'inline-flex';
            }
            reader.readAsDataURL(file);
        } else {
          document.getElementById('preview-container').style.display = 'none';
        }
    });
    document.getElementById('archivo').addEventListener('change', function() {
        var file = this.files[0];
        if (file) {
            document.getElementById('preview-container').style.display = 'none';
            document.getElementById('imagen').value = ''
            var reader = new FileReader();
            reader.onload = function(e) {
                var preview = document.getElementById('preview-file');
                preview.textContent = file.name;
                document.getElementById('preview-container-file').style.display = 'inline-flex';
            }
            reader.readAsText(file);
        } else {
          document.getElementById('preview-container').style.display = 'none';
        }
    });
    function borrarPreview (){
      document.getElementById('preview-container').style.display = 'none';
      document.getElementById('imagen').value = '';
    };
    function borrarPreviewArchivo (){
      document.getElementById('preview-container-file').style.display = 'none';
      document.getElementById('archivo').value = '';
    };
</script>
{% endblock %}