<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estadísticas</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-color: #f8f9fa;
      }
      .container {
        margin-top: 50px;
      }
      .card {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Listado de Estadísticas</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadísticas de Publicaciones</h5>
              <p class="card-text">Ve las estadísticas relacionadas con las publicaciones.</p>
              <a href="/usuarios/estadisticas/publicaciones" class="btn btn-primary">Ver Estadísticas Publicaciones</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadísticas de Usuarios</h5>
              <p class="card-text">Ve las estadísticas relacionadas con los usuarios.</p>
              <a href="/usuarios/estadisticas/usuarios" class="btn btn-primary">Ver Estadísticas Usuarios</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadísticas de Intercambios</h5>
              <p class="card-text">Ve las estadísticas relacionadas con los intercambios.</p>
              <a href="/usuarios/estadisticas/intercambios" class="btn btn-primary">Ver Estadísticas Intercambios </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadísticas de Ofertas</h5>
              <p class="card-text">Ve las estadísticas relacionadas con las ofertas.</p>
              <a href="/usuarios/estadisticas/ofertas" class="btn btn-primary">Ver Estadísticas Ofertas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>
  