{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>

.titulo-publicacion a {
        color: black;  
        font-weight: bold;  
        text-decoration: none;  /* Quitar el subrayado */
    }

.delete-button {
    background-color: #469597; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    border-radius: 25px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    flex: 1; /* Para que los botones tengan el mismo tamaño */
    text-align: center; /* Centrar el texto */
}

.button-container {
    display: flex; /* Para alinear los botones en una fila */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px; /* Espacio superior para separar los botones del contenido anterior */
}

/* Estilos generales */
.card {
    margin-bottom: 20px; /* Espacio entre tarjetas */
    border: 1px solid #ddd; /* Borde de tarjeta */
    border-radius: 8px; /* Bordes redondeados */
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); /* Sombra al pasar el mouse */
}

.card-img-top {
    border-top-left-radius: 8px; /* Bordes redondeados en la esquina superior izquierda */
    border-top-right-radius: 8px; /* Bordes redondeados en la esquina superior derecha */
}

.card-body {
    padding: 20px; /* Espacio interno del cuerpo de la tarjeta */
}

.card-title {
    font-size: 20px; /* Tamaño de fuente del título */
    margin-bottom: 10px; /* Espacio entre el título y otros elementos */
}

.card-subtitle {
    font-size: 16px; /* Tamaño de fuente del subtítulo */
    color: #666; /* Color del subtítulo */
    margin-bottom: 10px; /* Espacio entre subtítulo y otros elementos */
}

.user-info {
    font-size: 14px; /* Tamaño de fuente de la información del usuario */
    color: #777; /* Color de la información del usuario */
    margin-bottom: 5px; /* Espacio entre información del usuario y otros elementos */
}

.card-text {
    font-size: 16px; /* Tamaño de fuente del texto de la tarjeta */
    margin-bottom: 15px; /* Espacio entre texto de la tarjeta y otros elementos */
}

.row {
    margin-left: -10px; /* Compensar el padding de la fila */
    margin-right: -10px; /* Compensar el padding de la fila */
}

.col-4 {
    padding-left: 10px; /* Espaciado izquierdo de la columna */
    padding-right: 10px; /* Espaciado derecho de la columna */
}

.alert {
    margin-top: 20px; /* Espacio superior de la alerta */
    padding: 15px; /* Espaciado interno de la alerta */
    border-radius: 8px; /* Bordes redondeados de la alerta */
}

.alert-danger {
    color: #721c24; /* Color del texto de la alerta de peligro */
    background-color: #f8d7da; /* Color de fondo de la alerta de peligro */
    border: 1px solid #f5c6cb; /* Borde de la alerta de peligro */
}
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if offers %}
    <div class="row">
        {% for offer in offers %}
            <div class="col-4">
                <div class="card" style="width: 30rem">
                    <a href="/ofertas/{{offer.id}}">
                        <img class="card-img-top" height="250" src="{{ offer.image.url }}" alt="{{ offer.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ offer.title }}</h5>
                        <hr>
                        <h6 class="card-subtitle">Descripcion: {{ offer.description }}</h6>
                        <hr>
                        {% if offer.answer == 0 %}
                            <h6 class="card-subtitle text-warning">Estado: Sin respuesta</h6>
                        {% elif offer.answer == 1 %}
                            <h6 class="text-danger card-subtitle">Estado: Rechazada</h6>
                        {% else %}
                            <h6 class="card-subtitle text-success">Estado: Aceptada</h6>
                        {% endif %}
                        <hr>
                        <div class="titulo-publicacion">
                        <p> Publicación: <a href="/publicaciones/{{ offer.post_id }}">{{ offer.post.title }}</a> </p>
                        </div>
                        {% if offer.answer == 0 %}
                        <div class="button-container">
                            <a href="#" onclick="eliminarOferta({{ offer.id }})" data-post-id="{{ post.id }}" data-csrf-token='{% csrf_token %}'><button type="button" class="delete-button">Eliminar oferta</button></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger">No hay ofertas realizadas</div> 
{% endif %}


{% block js %}

<script>
    function eliminarOferta(id){
    Swal.fire({
        title: "¿Estas seguro?",
        text: "Esta accion no se puede deshacer",
        icon: "question",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Eliminar",
        reverseButtons: true,
        confirmButtonColor: "#cde7f6"
    })
    .then(function(result){
        if(result.isConfirmed){
        window.location.href = "ofertasRecibidas/eliminarOferta/"+id
    }
    })
}
</script>

{% endblock %}

{% endblock %}