{% extends "base_generic.html" %}
{% load static %}

{% block body_class %}pagina-especial{% endblock %}

{% block content %}
<style>
    .usuario-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .usuario-header div {
        display: flex;
        align-items: center;
    }
    .usuario-header p {
        margin-left: 20px;
        margin-bottom: 0;
    }
    .usuario-header form {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .usuario-header .btn {
        margin-left: 10px;
    }
    .accordion-button {
        display: none;
    }
</style>

<div class="container my-4">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% for usuario in usuarios %}
        <div class="accordion-item">
            <div class="usuario-header">
                <div>
                    <label class="form-check-label" for="firstCheckbox">{{ usuario.name }} {{ usuario.surname }}</label>
                    {% if usuario.type_user > 0 %}
                    <p>Verificado</p>
                    {% endif %}
                    {% if usuario.verification_requested == True %}
                    <p>Solicita verificación</p>
                    {% endif %}
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="user_email" value="{{ usuario.email }}">
                    {% if usuario.verification_requested == True %}
                    <button type="submit" class="btn btn-success" name="action" value="aceptar">Aceptar</button>
                    <button type="submit" class="btn btn-danger" name="action" value="rechazar">Rechazar</button>
                    {% endif %}
                    {% if usuario.type_user == 0 and usuario.verification_requested == False or usuario.verification_canceled %}
                    <button type="submit" class="btn btn-success" name="action" value="verificar">Verificar usuario</button>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
