{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Motivo de reporte</h3>
              <form action="/usuarios/motivoReporte/ultimoPaso" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{id}}" name="id">
                <input type="hidden" value="{{content_type}}" name="content_type">
                <input type="hidden" value="{{id_url}}" name="id_url">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="motivoReporte" id="radio1" value="El usuario está infringiendo las reglas de Puerto Aventura.">
                    <label class="form-check-label" for="radio1">
                      El usuario está infringiendo las reglas de Puerto Aventura.
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="motivoReporte" id="radio2" value="El elemento tiene contenido ofensivo, obsceno o discriminatorio.">
                    <label class="form-check-label" for="radio2">
                       El elemento tiene contenido ofensivo, obsceno o discriminatorio.
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="motivoReporte" id="radio3" value="Induce a que se realicen acciones que pueden ser fraudulentas.">
                    <label class="form-check-label" for="radio3">
                        Induce a que se realicen acciones que pueden ser fraudulentas.
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="motivoReporte" id="radio4" value="Es spam.">
                    <label class="form-check-label" for="radio4">
                      Es spam.
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="motivoReporte" id="radio5" value="Descripción imprecisa o estafa.">
                    <label class="form-check-label" for="radio5">
                      Descripción imprecisa o estafa.
                    </label>
                  </div>
                <div class="mt-4 pt-2">
                  <input data-mdb-ripple-init class="btn btn-danger btn-lg" type="submit" value="Enviar reporte" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}