{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<!doctype html>
<html lang="es" data-bs-theme="auto">
  <style>
    div {
      width:300px;
      margin:auto;
    }
  </style>

  <div>
    <h1>Inicio de sesion</h1>
  </div>
  <form class="row g-3">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="ingresoEmail" placeholder="juanperez@mail.com">
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Contraseña</label>
      <input type="password" class="form-control" id="ingresoContraseña" placeholder="contraseña">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Confirmar</button>
    </div>
  </form>
</body>
</html>
{% endblock %}


